<div class="row studies-container">
  <div class="col-md-12">
    <div class="block block-blue block-content">
      <h2 class="block-full-title text-white">LES DERNIÈRES ÉTUDES</h2>
    </div>
  </div>
  <%= render studies %>
  <div class="col-sm-4">
    <div class="block white-block block-content">
      newsletter
    </div>
  </div>
</div>
