<h1>Liste des partenaires</h1>

<%= link_to icon('plus', "Ajouter un partenaire"), new_admin_partner_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @partners %>
  </tbody>
</table>
