<h1>Liste des catégories</h1>

<%= link_to icon('plus', "Nouvelle categorie"), new_admin_category_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>Categorie</th>
      <th>Nombre d'études</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>

